<h1>{{model.description}}</h1>

<ul>
  <li>{{model.description}}</li>
  <li>{{model.owner}}</li>
  <li>{{model.bid}}</li>
  <li>{{model.price}}</li>
  <li>{{model.story}}</li>
  <li>{{model.image}}</li>
  <li>{{model.year}}</li>
</ul>
