<h1>{{title}}</h1>

{{#if isEditing}}
<form>
  <div class="form-group">
    <label for="title">Category Name</label>
    {{input value=title id="title" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="body">Description</label>
    {{textarea value=body id="body" class="form-control" rows="15"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
{{else}}
<p>{{body}}</p>

<button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}

{{outlet}}

<h2>Products</h2>

{{#each product in products itemController="product"}}
<p>

  <li>{{#link-to 'product' product}}{{product.description}}{{/link-to}}</li>
  <!-- {{product.description}} -->
  <button class="btn btn-xs btn-danger" {{action 'delete'}}>Delete</button>
</p>
{{/each}}

<p>{{#link-to 'new-product' this class="btn btn-success"}}Add a new item to sell{{/link-to}}</p>
